// Define variables for your color scheme

// For example:

$background: #303245;

$primary-color: #FD7C7C;
$primary-hover: #f35050;
$secondary: #527375;
$pale: #F4BEBE;

$blue: #050076;
$red: #BE0200;