<div class="tag-list" data-search-tags-target="list">
  <% @events.each do |event| %>
    <p><%= link_to event.name, event_path(event),class:'tag-event tag-style'%></p>
  <% end %>
  <% @owned_tags.each do |tag| %>
      <p <%= link_to "##{tag.name}", tag_path(tag), class:'tag-tag tag-style'%></p>
  <% end %>
</div>