<div class="container container-center-content">
  <h1>Wekcome on PinArt!</h1>
  <div class="rounded-btn"><%= link_to "Add a new event", events_path %><i class="fa-solid fa-calendar icon mx-2"></i></div>
  <div class="rounded-btn"><%= link_to "My Pinned Artworks", artworks_path %><i class="fa-solid fa-heart mx-2"></i></div>
  <div class="rounded-btn"><%= link_to "Pin a new Artwork", new_artwork_path %><i class="fa-solid fa-palette mx-2"></i></div>

  <div class="d-flex">
    <% @owned_tags.each do |tag| %>
      <div class="rounded-btn ">
        #<%= link_to tag, tag_path(tag) %>
      </div>
    <% end %>
  </div>



</div>


