<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "My Events", events_path, class:"btn btn-primary" %>
  <%= link_to "My PinArts", artworks_path, class:"btn btn-warning" %>
<% @owned_tags.each do |tag| %>
  <%= link_to tag, tag_path(tag) %>
<% end %>

</div>


