<div class="container">
  <h1>Tag#new</h1>
  <p>Find me in app/views/tags/new.html.erb</p>
  <%= simple_form_for @tag, url: tags_path, method: :post do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>   
</div>

