.navbar-lewagon {
  justify-content: space-between;
  background: $background;
  color: white;
  border-bottom: 1px solid white;
  h1 {
    font-family: $title;
    color: $primary;
    font-size: 68px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
